<div id="<%= dom_id office %>">
  <p>
    <strong><%= t("offices.show.name") %>:</strong>
    <%= office.name %>
  </p>

  <p>
    <strong><%= t("offices.show.phone_number") %>:</strong>
    <%= office.phone_number %>
  </p>

  <p>
    <strong><%= t("offices.show.address") %>:</strong>
    <%= office.address %>
  </p>

  <p>
    <strong><%= t("offices.show.available") %>:</strong>
    <%= office.available ? t("common.yes") : t("common.no") %>
  </p>

  <h3><%= t("offices.show.employees_title") %></h3>

  <% if office.employees.any? %>
    <ul>
      <% office.employees.each do |employee| %>
        <li>
          <%= link_to employee.name, employee_path(employee) %> - 
          <%= t("offices.show.employee_number") %>: <%= employee.e_number %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p><em><%= t("offices.show.no_employees") %></em></p>
  <% end %>
</div>
