<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% office.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Nombre:" %>
    <%= form.text_field :name, required: true, maxlength: 150 %>
  </div>

  <div>
    <%= form.label :e_number, "Número de Empleado:" %>
    <%= form.number_field :e_number, required: true %>
  </div>

  <div>
    <%= form.label :office_id, "Oficina:" %>
    <%= form.collection_select :office_id, Office.all, :id, :name,
                               { prompt: "Selecciona una oficina (opcional)" },
                               { class: "form-select" } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
