<p style="color: green"><%= notice %></p>

<% content_for :title, t("employees.title") %>

<h1><%= t("employees.title") %></h1>

<div id="employees">
  <% @employees.each do |employee| %>
    <%= render employee %>
    <p>
      <%= link_to t("employees.show.see_employee"), employee %>
    </p>
  <% end %>
</div>

<%= link_to t("employees.new.title"), new_employee_path %>
